#content, #postamble {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 50.5em;

    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2 {
    text-decoration: underline;
}

#text-table-of-contents a {
    text-decoration: none;
}
